.header {
  height: 9rem;
  display: flex;
  align-items: center;
  background-color: #fefefe;
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  z-index: 10;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 55px;
  display: flex;
  align-items: center;
}
.logo img {
  height: 32px;
  width: 142px;
}
.menu__list {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu__item {
  position: relative;
}
.menu__item-link {
  font-size: 1.6rem;
  padding: 14px 5px;
  display: block;
  line-height: 27px;
  color: #000;
  font-weight: 400;
  border-bottom: 1px solid transparent;
}
.menu__item-link.sale {
  color: #ff0000;
  font-weight: 500;
}
.menu__item-link:hover {
  border-bottom-color: #fce4b8;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-right__item-link {
  font-size: 1.6rem;
  padding: 14px 16px;
  display: block;
  line-height: 27px;
  color: var(--primary-color);
  font-weight: 400;
  cursor: pointer;
}
.header-right-icon {
  font-size: 20px;
  color: var(--primary-color);
}
.menu-child {
  position: absolute;
  top: 100%;
  left: -142px;
  z-index: 100;
  display: none;
  width: 1200px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.menu__item:nth-child(2) .menu-child {
  left: -187px;
}
.menu__item:nth-child(3) .menu-child {
  left: -266px;
}
.menu__item:nth-child(4) .menu-child {
  left: -340px;
}
.menu__item:nth-child(5) .menu-child {
  left: -448px;
}
.menu__item:hover .menu-child {
  display: block;
}
.menu-child__inner {
  padding: 10px;
}
.menu-child__heading {
  color: var(--primary-color);
  font-size: 1.6rem;
  padding-bottom: 5px;
  margin-bottom: 12px;
  border-bottom: 1px solid #000;
}
.menu-child__list {
  margin-right: 10px;
  /* min-width: 70px;
  width: 100%; */
}
.menu-child__item-link {
  display: block;
  font-size: 1.4rem;
  line-height: 24px;
  color: var(--primary-color);
  margin-bottom: 5px;
}
.menu-child__item-link:hover {
  color: #ffa500;
  text-decoration: underline;
}

/* search */
.search-input {
  display: none;
}
.search-input:checked ~ .modal {
  display: block;
}
.search-input:checked ~ .search {
  transform: translateY(0);
}
.search {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  background-color: #fff;
  transform: translateY(-100%);
  transition: transform 0.2s linear;
}
.header__close {
  height: 86px;
  padding: 30px 0 20px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #3e3b3b;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.close__icon {
  margin-left: 20px;
  height: 36px;
  width: 36px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.close__icon-up,
.close__icon-down {
  width: 16px;
  height: 2px;
  background-color: #777;
  position: absolute;
}
.close__icon-up {
  transform: rotate(45deg);
}
.close__icon-down {
  transform: rotate(-45deg);
}
.close__icon:hover .close__icon-up {
  transform: rotate(0);
  transition: transform 0.2s linear;
}
.close__icon:hover .close__icon-down {
  background-color: #b9a16b;
  transform: rotate(0);
  transition: transform 0.2s linear;
}
.search__container {
  padding: 35px 15px 50px;
}
.container__inner {
  margin: 0 auto 40px;
  display: flex;
  align-items: center;
  width: 786px;
}
.container__input-wrap {
  flex: 1;
}
.container__input {
  width: 100%;
  background-color: #fff;
  padding: 11px 15px;
  font-size: 1.4rem;
  border: 1px solid #ddd;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  box-shadow: 0 0 9px 1px #c0c0c0;
  outline: none;
}
.container__btn {
  color: #fff;
  background-color: #333;
  padding: 11px 16px;
  font-size: 1.6rem;
  border: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  line-height: 16px;
  cursor: pointer;
  box-shadow: 0 0 9px 1px #c0c0c0;
  position: relative;
}
.container__btn::after {
  content: "";
  display: block;
  border-width: 10px 14px;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
  position: absolute;
  top: 10px;
  left: -21px;
}
.history__heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #686868;
}

.history__item-link {
  font-size: 1.4rem;
  color: var(--primary-color);
  line-height: 28px;
}

/* cart */
.cart-input:checked ~ .modal {
  display: block;
}
.cart-input:checked ~ .cart {
  transform: translateX(0%);
}
.cart {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  width: 460px;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.2s linear;
}
.cart .header__close {
  margin: 0 50px;
}
.cart__container {
  padding: 35px 50px 0;
}
.container-no-product {
  text-align: center;
}
.container-no-product .no-product__icon {
  background-color: #f8f8f8;
  color: #686868;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 58px auto 18px;
  border-radius: 50%;
}
.container-no-product .no-product__desc {
  font-size: 1.4rem;
  color: #686868;
  margin-bottom: 78px;
}
.container-no-product .no-product__btn {
  width: 100%;
  padding: 8px 12px;
  font-size: 1.6rem;
  background-color: #fff;
  color: #2f80ed;
  border: 2px solid #2f80ed;
  line-height: 26px;
  display: block;
}

/* user */
#modal.open {
  display: flex;
}
.modal__container {
  margin: auto;
  width: 480px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.3);
}
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.auth .auth__heading {
  height: 80px;
  font-size: 3.3rem;
  font-weight: 400;
  color: var(--primary-color);
}
.auth .form__group {
  margin-top: 20px;
  width: 400px;
  position: relative;
}
.auth .form__group-input {
  width: 100%;
  border: 2px solid #ddd;
  padding: 12px;
  outline: none;
  font-size: 1.4rem;
  line-height: 26px;
}
.auth .form__group-label {
  font-size: 1.6rem;
  font-weight: 300;
  color: #666;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  user-select: none;
  pointer-events: none;
  transition: all 0.4s ease;
}
.auth .form__group-input:focus {
  border-color: var(--primary-color);
  border-radius: none;
}
.form__group-input:not(:placeholder-shown) + .form__group-label,
.form__group-input:focus + .form__group-label {
  top: 0;
  background-color: #fff;
  padding: 10px;
  color: var(--primary-color);
}
.auth .form__group-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remember-password {
  display: flex;
  align-items: center;
}

.remember-password__desc {
  font-size: 1.6rem;
  margin-left: 8px;
  line-height: 28px;
}
.auth {
  position: relative;
}
.auth .header__close {
  position: absolute;
  top: -54px;
  right: -24px;
  z-index: 11;
}
.auth__link {
  font-size: 1.6rem;
  line-height: 28px;
  color: var(--primary-color);
  position: relative;
  overflow: hidden;
}
.auth__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  top: calc(100% - 2px);
  transform: translateX(-100%);
  transition: 0.4s ease;
}

.auth__link:hover.auth__link::after {
  transform: translateX(0);
}

.auth__btn {
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: #fff;
  width: 100%;
  padding: 17px 28px;
  cursor: pointer;
  border: none;
}
.auth__btn:hover {
  opacity: 0.7;
}
.auth__authentication {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth__authentication .authentication__desc {
  font-size: 1.6rem;
  font-weight: 300;
  color: #666;
  margin-right: 4px;
}
.auth .auth__password-desc {
  font-size: 1.6rem;
  color: var(--primary-color);
}
/* mobile */
.search-mobile {
  display: none;
}
.header__menu-mobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
}
.menu-mobile__img {
  height: 35px;
  width: 35px;
}
