.app {
  overflow: hidden;
}

.app-content {
  margin-top: 9rem;
}

.slide-bar .auto-slide {
  position: relative;
  height: 100%;
}
.slide-bar .auto-slide__list {
  height: 100%;
  display: flex;
  overflow: hidden;
}
.slide-bar .auto-slide__item {
  height: 100%;
  flex: 1 0 100%;
}
.slide-bar .auto-slide__img {
  height: 100%;
}
.slide-bar .auto-slide__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
}
.slide-bar .slide__list {
  padding-left: 5px;
}
.slide-bar .slide__item {
  margin-bottom: 5px;
}

.line {
  height: 3px;
  margin: auto;
  background-color: #ebebeb;
}

.promise__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.promise__img {
  width: 64px;
  height: 64px;
}
.promise__title {
  margin-left: 5px;
  font-size: 1.2rem;
}

.sale {
  margin-top: 2px;
}
.sale__img {
  height: 256px;
}
.sale .product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.sale .product__link {
  margin-top: 20px;
  display: block;
}
.sale .product__link-name {
  margin-top: 5px;
  overflow: hidden;
  position: relative;
}
.sale .product__link-name::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #282828;
  width: 100%;
  transform: translateX(-100%);
  transition: 0.4s ease;
  position: absolute;
  top: calc(100% - 14px);
  left: 0;
}
.sale .product__link-name:hover::after {
  transform: translateX(0);
}
.sale .product__link-name .product__name-line {
  border-bottom: 2px solid #282828;
  width: 0;
}
.sale .product__name {
  position: relative;
  margin: 0 auto;
  font-size: 1.4rem;
  color: #282828;
  font-weight: 300;
  line-height: 27px;
  border-bottom: 1px solid #282828;
}
.sale .product__name:hover {
  font-weight: 700;
}
.sale .category__list {
  margin-bottom: 5px;
}
.sale .category__link {
  height: 257px;
  display: flex;
  align-items: center;
  opacity: 0.5;
}
.sale .category__link:hover {
  opacity: 1;
}

.product {
  margin-bottom: 40px;
}
.product__heading {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 700;
  color: #282828;
  line-height: 40px;
  margin-top: 10px;
  font-size: 3.2rem;
  text-align: center;
  font-weight: 700;
  color: #282828;
  line-height: 40px;
  margin-top: 10px;
}
.product__item {
  padding: 20px;
}
.product__link {
  position: relative;
}
.product__link:hover .product__img {
  transform: translateY(-5px);
}
.product__link:hover .product__link-amortization {
  transform: translateY(-5px);
}
.product__link:hover .product__link-option {
  transform: translateY(-5px);
  display: block;
}
.product__link-name {
  font-size: 1.6rem;
  color: #282828;
  text-align: center;
  line-height: 20px;
  min-height: 40px;
}
.product__link-amortization {
  position: absolute;
  z-index: 3;
  background-color: #fbda00;
  top: 20px;
  left: 0;
  width: 85px;
  text-align: center;
  color: #282828;
  padding: 2px 0;
  font-size: 1.4rem;
  border-radius: 5px;
  transition: all 0.2s linear;
}
.product__link-option {
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 10px;
  padding: 10px;
  transition: all 1s linear;
  display: none;
}
.product__link-option .option {
  position: relative;
}
.product__link-option .option__icon {
  font-size: 1.4rem;
  color: #808080;
  opacity: 0.6;
}
.product__link-option .option__body {
  position: absolute;
  width: 150px;
  right: 36px;
  top: 6px;
  background-color: #808080;
  color: #fff;
  font-size: 1.3em;
  line-height: 26px;
  text-align: center;
  border-radius: 5px;
  display: none;
}
.product__link-option .option__body::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  right: -24px;
  border-width: 10px 16px;
  border-style: solid;
  border-color: transparent transparent transparent #808080;
}
.product__link-option:hover .option__icon {
  opacity: 1;
}
.product__link-option:hover .option__body {
  display: block;
}
.product__img {
  transition: all 0.2s linear;
}
.product__price {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 5px 0;
}
.product__price-old {
  color: #282828;
  text-decoration: line-through;
  margin-right: 5px;
}
.product__price-current {
  color: #ff0000;
  margin-right: 5px;
}
.product__price-sale {
  background-color: #ff0000;
  color: #fff;
  padding: 0 4px;
  font-size: 1.4rem;
}
.product__asses-gold {
  font-size: 1.3rem;
  color: #ee9b20;
}

.banner__link {
  display: block;
  margin-top: 10px;
}

.intro__link {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.intro__img {
  width: 500px;
}

.channel__heading {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 700;
  color: #282828;
  line-height: 40px;
  margin-top: 10px;
}
.channel__video {
  margin-bottom: 40px;
}
.channel__video-src {
  width: 100%;
  height: 260px;
}

.newspaper {
  margin-bottom: 30px;
  justify-content: center;
}
.newspaper__heading {
  font-size: 3.2rem;
  text-align: center;
  font-weight: 700;
  color: #282828;
  line-height: 40px;
  margin-top: 10px;
}
.newspaper__link {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.newspaper__img {
  width: 150px;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 30px 0;
}
.footer__heading {
  font-size: 1.4rem;
  line-height: 26px;
  margin-bottom: 15px;
}
.footer__item {
  color: #fff;
  font-size: 1.3rem;
  line-height: 26px;
}
.footer__item-address {
  margin-bottom: 28px;
}
.footer__item span {
  text-decoration: underline;
}
.footer__link {
  color: #fff;
  font-size: 1.3rem;
  line-height: 26px;
}
.footer__link-img {
  width: 128px;
}
.footer__contact .contact__heading {
  font-size: 2.4rem;
  margin-bottom: 12px;
}
.footer__contact .contact__desc {
  font-size: 1.3rem;
  margin-bottom: 33px;
}
.footer__contact .contact__btn {
  display: inline-block;
  margin-bottom: 25px;
  padding: 0 30px;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 16px;
  line-height: 43px;
  height: 43px;
  align-items: center;
  background-color: #2f5acf;
  color: #282828;
  opacity: 0.8;
  cursor: pointer;
}
.footer__contact .contact__btn:hover {
  opacity: 1;
}
.footer__contact .contact__list {
  margin-bottom: 35px;
}
.footer__contact .contact__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.footer__contact .contact__item .item__icon {
  width: 30px;
  height: 30px;
}
.footer__contact .contact__item .item__body {
  margin-left: 10px;
}
.footer__contact .contact__item .item__body .body__name {
  font-size: 1.3rem;
  font-weight: 500;
}
.footer__contact .contact__item .item__body .body__link {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
}
.footer .social__item .item__link {
  display: flex;
  justify-content: center;
}
.footer .social__item .item__link .link__img {
  width: 40px;
}
.footer .line {
  margin-top: 35px;
  height: 1px;
  background-color: #fff;
}
.footer .copyright {
  padding: 16px 0;
  font-size: 1.1rem;
  line-height: 14px;
}
.footer .copyright__title {
  margin-bottom: 12px;
}
.footer .copyright__item {
  padding-top: 16px;
}
.footer .copyright__item .item__link {
  display: flex;
  height: 68px;
}
.footer .copyright__item .item__link .link__img {
  margin: auto 0;
}

.message {
  width: 60px;
  height: 60px;
  background-color: #0a7cff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 80px;
  right: 25px;
}

.scroll-top {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: all 0.3s ease-in-out;
}
.scroll-top:hover {
  cursor: pointer;
  border-color: #686868;
}
.scroll-top__icon {
  transform: rotate(-90deg);
}/*# sourceMappingURL=home.css.map */