/* Mobile & Tablet */

@media (max-width: 1023px) {
  .commercial {
    display: none;
  }
  .logo img {
    width: 266px;
    height: 60px;
  }
  /* header */
  .header {
    top: 0 !important;
    height: 9.5rem;
  }
  .header-inner {
    flex-direction: row-reverse;
  }
  .header__right {
    justify-content: flex-start;
  }
  .header__left {
    justify-content: center;
  }
  .right__item:not(:nth-child(3)) {
    display: none;
  }
  .menu__list {
    display: none !important;
  }
  .search-mobile {
    display: flex;
  }
  .search-mobile .container__inner {
    margin: 0;
    width: 100%;
  }

  /* app-content */
  .app-content {
    margin-top: 10rem;
  }
  .product .product__item {
    padding: 10px;
    border: 1px solid #ccc;
    height: 100%;
  }
  .intro__img {
    width: 100% !important;
  }
  /* footer */
  .footer {
    padding-bottom: 10px;
    margin-bottom: 50px;
  }
  .footer__content {
    padding: 0 8px;
  }
  .footer__contact {
    margin-bottom: 20px;
  }
  .contact__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px !important;
  }
  .contact__social {
    justify-content: space-between;
  }
  .footer__list.footer__list-block {
    display: block;
  }
  .footer__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__heading-mobile.open + .footer__list {
    animation: TransformFooterList 0.2s linear;
    display: block;
  }
  .footer__list {
    display: none;
  }
  .footer__item {
    padding-left: 5px;
  }
  .copyright__item:last-child {
    padding-top: 5px;
  }
  .link__img-height {
    height: 60px;
  }
  .message,
  .scroll-top {
    display: none;
  }
  .menu-footer {
    display: block;
  }
}

/*  Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
  /* header */
  /* app-content */
  .product {
    margin-bottom: 30px;
  }
  .auto-slide__img {
    height: 319px;
  }
  .sale__img {
    height: 142px;
  }

  .newspaper__img {
    width: 142px;
  }
  .channel__video-src {
    height: 130px;
  }
}

/* Mobile  */

@media (max-width: 739px) {
  /* header */
  .header {
    padding: 0 5px;
  }
  .cart {
    width: 100%;
  }
  .menu-mobile__container {
    width: 100%;
    padding: 0 35px;
  }
  /* app-content */
  .app-content {
    padding: 0 5px;
  }
  .promise__item {
    flex-direction: column;
  }
  .product {
    margin-bottom: 10px;
  }
  .product__link-amortization {
    top: -8px;
  }
  .sale__img {
    height: 150px;
  }
  .newspaper__img {
    width: 69px;
  }
  .modal__container {
    width: 100%;
    padding: 0 5px;
    margin: auto 5px;
  }
}
