$primary-color: #282828;
.app {
  overflow: hidden;
}
.logo {
  height: 55px;
  display: flex;
  align-items: center;
}
.logo img {
  height: 32px;
  width: 142px;
}
// header
.header {
  height: 9rem;
  display: flex;
  align-items: center;
  background-color: #fefefe;
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  z-index: 5;
  &__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu {
      &__list {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      &__item {
        position: relative;
        &-link {
          font-size: 1.6rem;
          padding: 14px 5px;
          display: block;
          line-height: 27px;
          color: #000;
          font-weight: 400;
          border-bottom: 1px solid transparent;
          &:hover {
            border-bottom-color: #fce4b8;
          }
          &.sale {
            color: #ff0000;
            font-weight: 500;
          }
        }
        &:nth-child(2) .menu-child {
          left: -187px;
        }
        &:nth-child(3) .menu-child {
          left: -266px;
        }
        &:nth-child(4) .menu-child {
          left: -340px;
        }
        &:nth-child(5) .menu-child {
          left: -448px;
        }
        &:hover .menu-child {
          display: block;
        }
      }
    }
    .menu-child {
      position: absolute;
      top: 100%;
      left: -142px;
      z-index: 100;
      display: none;
      width: 1200px;
      border: 1px solid #ccc;
      background-color: #f9f9f9;
      border-radius: 5px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      &__inner {
        padding: 10px;
      }
      &__heading {
        color: $primary-color;
        font-size: 1.6rem;
        padding-bottom: 5px;
        margin-bottom: 12px;
        border-bottom: 1px solid #000;
      }
      &__list {
        margin-right: 10px;
      }
      .child {
        &__item {
          &-link {
            display: block;
            font-size: 1.4rem;
            line-height: 24px;
            color: $primary-color;
            margin-bottom: 5px;
            &:hover {
              color: #ffa500;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .right__item {
      &-link {
        font-size: 1.6rem;
        padding: 14px 16px;
        display: block;
        line-height: 27px;
        color: $primary-color;
        font-weight: 400;
        cursor: pointer;
      }
    }
    &__icon {
      font-size: 20px;
      color: var(--primary-color);
    }
  }
}
// header search
#modal-search.open .search {
  transform: translateY(0);
}
.search {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 12;
  background-color: #fff;
  // transform: translateY(-100%);
  animation: TransformSearch 0.2s linear;
  &.open {
    transform: translateY(0);
  }
  &__container {
    padding: 35px 15px 50px;
    .history {
      &__heading {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: #686868;
      }
      &__item-link {
        font-size: 1.4rem;
        color: $primary-color;
        line-height: 28px;
      }
    }
  }
}
.container {
  &__inner {
    margin: 0 auto 40px;
    display: flex;
    align-items: center;
    width: 786px;
  }
  &__input-wrap {
    flex: 1;
  }
  &__input {
    width: 100%;
    background-color: #fff;
    padding: 11px 15px;
    font-size: 1.4rem;
    border: 1px solid #ddd;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: 0 0 9px 1px #c0c0c0;
    outline: none;
  }
  &__btn {
    color: #fff;
    background-color: #333;
    padding: 11px 16px;
    font-size: 1.6rem;
    border: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    line-height: 16px;
    cursor: pointer;
    box-shadow: 0 0 9px 1px #c0c0c0;
    position: relative;
    &::after {
      content: "";
      display: block;
      border-width: 10px 14px;
      border-style: solid;
      border-color: transparent #333 transparent transparent;
      position: absolute;
      top: 10px;
      left: -21px;
    }
  }
}
.header__close {
  height: 86px;
  padding: 30px 0 20px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #3e3b3b;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.close__icon {
  margin-left: 20px;
  height: 36px;
  width: 36px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  &-up {
    width: 16px;
    height: 2px;
    background-color: #777;
    position: absolute;
    transform: rotate(45deg);
  }
  &-down {
    width: 16px;
    height: 2px;
    background-color: #777;
    position: absolute;
    transform: rotate(-45deg);
  }
  &:hover &-up {
    transform: rotate(0);
    transition: transform 0.2s linear;
  }
  &:hover &-down {
    background-color: #b9a16b;
    transform: rotate(0);
    transition: transform 0.2s linear;
  }
}
// cart

#modal-cart.open .cart {
  transform: translateX(0);
}
.cart {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  width: 460px;
  background-color: #fff;
  // transform: translateX(100%);
  animation: TransformCart 0.2s linear;
  .header__close {
    margin: 0 50px;
  }
  &__container {
    padding: 35px 50px 0;
  }
  .container {
    &-no-product {
      text-align: center;
      .no-product {
        &__icon {
          background-color: #f8f8f8;
          color: #686868;
          height: 80px;
          width: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 58px auto 18px;
          border-radius: 50%;
        }
        &__desc {
          font-size: 1.4rem;
          color: #686868;
          margin-bottom: 78px;
        }
        &__btn {
          width: 100%;
          padding: 8px 12px;
          font-size: 1.6rem;
          background-color: #fff;
          color: #2f80ed;
          border: 2px solid #2f80ed;
          line-height: 26px;
          display: block;
        }
      }
    }
  }
}
//user
.modal__container {
  margin: auto;
  width: 480px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.3);
  position: relative;
}
#form-login {
  display: none;
}
#form-register {
  display: none;
}
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__heading {
    height: 80px;
    font-size: 3.3rem;
    font-weight: 400;
    text-align: center;
    color: $primary-color;
  }
  .form__group {
    margin-top: 20px;
    width: 100%;
    position: relative;
    &-input {
      width: 100%;
      border: 2px solid #ddd;
      padding: 12px;
      outline: none;
      font-size: 1.4rem;
      line-height: 26px;
      &:focus {
        border-color: var(--primary-color);
        border-radius: none;
      }
    }
    &-label {
      font-size: 1.6rem;
      font-weight: 300;
      color: #666;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 14px;
      user-select: none;
      pointer-events: none;
      transition: all 0.4s ease;
    }
    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .form__group-input:not(:placeholder-shown) + .form__group-label,
  .form__group-input:focus + .form__group-label {
    top: 0;
    background-color: #fff;
    padding: 10px;
    color: $primary-color;
  }
  .remember-password {
    display: flex;
    align-items: center;
    &__desc {
      font-size: 1.6rem;
      margin-left: 8px;
      line-height: 28px;
    }
  }
  .header__close {
    position: absolute;
    top: -20px;
    right: 10px;
    z-index: 11;
  }
  &__link {
    font-size: 1.6rem;
    line-height: 28px;
    color: var(--primary-color);
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--primary-color);
      position: absolute;
      top: calc(100% - 2px);
      transform: translateX(-100%);
      transition: 0.4s ease;
    }
    &:hover::after {
      transform: translateX(0);
    }
  }
  &__btn {
    font-size: 1.6rem;
    background-color: var(--primary-color);
    color: #fff;
    width: 100%;
    padding: 17px 28px;
    cursor: pointer;
    border: none;
    &:hover {
      opacity: 0.7;
    }
  }
  &__authentication {
    display: flex;
    align-items: center;
    justify-content: center;
    .authentication__desc {
      font-size: 1.6rem;
      font-weight: 300;
      color: #666;
      margin-right: 4px;
    }
  }
  &__password-desc {
    font-size: 1.6rem;
    color: var(--primary-color);
  }
}
// header mobile
.search-mobile {
  display: none;
}
// menu mobile
.header__menu-mobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
}
.menu-mobile__img {
  height: 35px;
  width: 35px;
}
.header__menu-mobile {
  & .close__icon {
    margin-left: 5px;
  }
  & .header__close {
    height: 70px;
    padding: 0;
  }
}
.menu-mobile {
  &__input {
    display: none;
    &:checked ~ .modal {
      display: block;
    }
    &:checked ~ .menu-mobile__container {
      transform: translateX(0);
    }
  }
  &__container {
    width: 460px;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 50px;
    right: 0;
    z-index: 11;
    padding: 0 50px;
    transform: translateX(100%);
    transition: transform 0.2s linear;
    overflow: hidden;
    .container {
      &-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100% - 70px);
      }
      &__list {
        margin-bottom: 60px;
      }
      &__item {
        &-link {
          font-size: 1.7rem;
          color: $primary-color;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 14px 0;
          &.sale {
            color: red;
            font-weight: 600;
          }
        }
        &-icon {
          margin-right: 15px;
        }
      }
      &__contact {
        .contact__item {
          font-size: 1.6rem;
          padding: 21px 0;
          border-top: 1px solid #cccccc;
          color: $primary-color;
          &-link {
            color: $primary-color;
          }
          &-bool {
            font-weight: 600;
          }
          &-blu {
            font-weight: 600;
            color: #2f80ed;
          }
          &-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          &-icon {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

// app-content
.app-content {
  margin-top: 13rem;
}
.slick-slider,
.slick-list.draggable,
.slick-track,
.auto-slide__img,
.auto-slide__img img {
  height: 100%;
}
.slide-bar {
  .slide {
    &__list {
      padding-left: 5px;
    }
    &__item {
      margin-bottom: 5px;
    }
  }
}
.line {
  height: 3px;
  margin: auto;
  background-color: #ebebeb;
}
.promise {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 64px;
    height: 64px;
  }
  &__title {
    margin-left: 5px;
    font-size: 1.2rem;
  }
}
.sale {
  margin-top: 2px;
  &__img {
    height: 256px;
  }
  .product {
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
    &__link {
      margin-top: 20px;
      display: block;
      &-name {
        margin-top: 5px;
        overflow: hidden;
        position: relative;
        &::after {
          content: "";
          display: block;
          height: 2px;
          background-color: $primary-color;
          width: 100%;
          transform: translateX(-100%);
          transition: 0.4s ease;
          position: absolute;
          top: calc(100% - 14px);
          left: 0;
        }
        &:hover::after {
          transform: translateX(0);
        }
        .product__name-line {
          border-bottom: 2px solid $primary-color;
          width: 0;
        }
      }
    }
    &__name {
      position: relative;
      margin: 0 auto;
      font-size: 1.4rem;
      color: $primary-color;
      font-weight: 300;
      line-height: 27px;
      border-bottom: 1px solid $primary-color;
      &:hover {
        font-weight: 700;
      }
    }
  }
  .category {
    &__list {
      margin-bottom: 5px;
    }
    &__link {
      height: 257px;
      display: flex;
      align-items: center;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.product {
  margin-bottom: 40px;
  &__heading {
    font-size: 3.2rem;
    text-align: center;
    font-weight: 700;
    color: $primary-color;
    line-height: 40px;
    margin-top: 10px;
    font-size: 3.2rem;
    text-align: center;
    font-weight: 700;
    color: $primary-color;
    line-height: 40px;
    margin-top: 10px;
  }
  &__item {
    padding: 20px;
  }
  &__link {
    position: relative;
    &:hover .product__img {
      transform: translateY(-5px);
    }
    &:hover &-amortization {
      transform: translateY(-5px);
    }
    &:hover &-option {
      transform: translateY(-5px);
      display: block;
    }

    &-name {
      font-size: 1.6rem;
      color: $primary-color;
      text-align: center;
      line-height: 20px;
      min-height: 40px;
    }
    &-amortization {
      position: absolute;
      z-index: 3;
      background-color: #fbda00;
      top: 20px;
      left: 0;
      width: 85px;
      text-align: center;
      color: #282828;
      padding: 2px 0;
      font-size: 1.4rem;
      border-radius: 5px;
      transition: all 0.2s linear;
    }
    &-option {
      position: absolute;
      z-index: 2;
      top: 15px;
      right: 10px;
      padding: 10px;
      transition: all 1s linear;
      display: none;
      .option {
        position: relative;
        &__icon {
          font-size: 1.4rem;
          color: #808080;
          opacity: 0.6;
        }
        &__body {
          position: absolute;
          width: 150px;
          right: 36px;
          top: 6px;
          background-color: #808080;
          color: #fff;
          font-size: 1.3em;
          line-height: 26px;
          text-align: center;
          border-radius: 5px;
          display: none;
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 3px;
            right: -24px;
            border-width: 10px 16px;
            border-style: solid;
            border-color: transparent transparent transparent #808080;
          }
        }
      }
      &:hover .option__icon {
        opacity: 1;
      }
      &:hover .option__body {
        display: block;
      }
    }
  }
  &__img {
    transition: all 0.2s linear;
  }
  &__price {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 5px 0;
    &-old {
      color: $primary-color;
      text-decoration: line-through;
      margin-right: 5px;
    }
    &-current {
      color: #ff0000;
      margin-right: 5px;
    }
    &-sale {
      background-color: #ff0000;
      color: #fff;
      padding: 0 4px;
      font-size: 1.4rem;
    }
  }
  &__asses {
    &-gold {
      font-size: 1.3rem;
      color: #ee9b20;
    }
  }
}
.banner {
  &__link {
    display: block;
    margin-top: 10px;
  }
}
.intro {
  &__link {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  &__img {
    width: 500px;
  }
}
.channel {
  &__heading {
    font-size: 3.2rem;
    text-align: center;
    font-weight: 700;
    color: $primary-color;
    line-height: 40px;
    margin-top: 10px;
  }
  &__video {
    margin-bottom: 40px;
    &-src {
      width: 100%;
      height: 260px;
    }
  }
}
.newspaper {
  margin-bottom: 30px;
  justify-content: center;

  &__heading {
    font-size: 3.2rem;
    text-align: center;
    font-weight: 700;
    color: $primary-color;
    line-height: 40px;
    margin-top: 10px;
  }
  &__link {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  &__img {
    width: 150px;
  }
}
.footer {
  background-color: #000;
  color: #fff;
  padding: 30px 0;
  &__heading {
    font-size: 1.4rem;
    line-height: 26px;
    padding: 5px 0;
  }

  &__item {
    color: #fff;
    font-size: 1.3rem;
    line-height: 26px;
    &-address {
      margin-bottom: 28px;
    }
    span {
      text-decoration: underline;
    }
  }
  &__link {
    color: #fff;
    font-size: 1.3rem;
    line-height: 26px;
    &-img {
      width: 128px;
    }
  }
  &__contact {
    .contact {
      &__heading {
        font-size: 2.4rem;
        margin-bottom: 12px;
      }
      &__desc {
        font-size: 1.3rem;
        margin-bottom: 33px;
      }
      &__btn {
        display: inline-block;
        margin-bottom: 25px;
        padding: 0 30px;
        font-size: 1.4rem;
        font-weight: 500;
        border-radius: 16px;
        line-height: 43px;
        height: 43px;
        align-items: center;
        background-color: #2f5acf;
        color: $primary-color;
        opacity: 0.8;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
      &__list {
        margin-bottom: 35px;
      }
      &__item {
        display: flex;
        align-items: center;
        margin-bottom: 14px;
        .item {
          &__icon {
            width: 30px;
            height: 30px;
          }
          &__body {
            margin-left: 10px;
            .body {
              &__name {
                font-size: 1.3rem;
                font-weight: 500;
              }
              &__link {
                color: #fff;
                font-size: 1.3rem;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
  .social {
    &__item {
      .item__link {
        display: flex;
        justify-content: center;
        .link__img {
          width: 40px;
        }
      }
    }
  }
  .line {
    margin-top: 35px;
    height: 1px;
    background-color: #fff;
  }
  .copyright {
    padding: 16px 0;
    font-size: 1.1rem;
    line-height: 14px;
    &__title {
      margin-bottom: 12px;
    }
    &__item {
      padding-top: 16px;
      .item__link {
        display: flex;
        height: 68px;
        .link__img {
          margin: auto 0;
        }
      }
    }
  }
}
.message {
  width: 60px;
  height: 60px;
  background-color: #0a7cff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 80px;
  right: 25px;
}
.scroll-top {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    border-color: #686868;
  }
  &__icon {
    transform: rotate(-90deg);
  }
}
.menu-footer {
  display: none;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 5px 10px grey;
  &__item {
    margin: 5px 0;
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary-color;
    font-size: 1.2rem;
    &.sale span {
      color: red;
      font-weight: 600;
    }
  }
  &__img {
    width: 20px;
    height: 20px;
    & svg {
      width: 20px;
      height: 20px;
    }
  }
}
